[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
eli5 = "*"
notebook = "*"
category-encoders = "*"
scipy = "*"
numpy = "*"
plotly = "*"
seaborn = "*"
sklearn = "*"
xgboost = "*"
requests = "*"
shap = "*"
pdpbox = "*"
matplotlib = "*"
pandas-profiling = "*"
costsensitive = "*"

[dev-packages]

[requires]
python_version = "3.8"
